<?xml version="1.0" ?>
<model>
    <name>firstworld</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>ishaanshrivastava</name>
        <email>shrivastava.9@iitj.ac.in</email>
    </author>
    <description>my first world model made in gazebo</description>
</model>
